:root {
    --primary-color: #4ea2b3;
    --primary-color-hover: #539297;
    --secondary-color: #666;
    --border-color: #ddd;
    --background-color: #f0f2f5;
    --error-color: #ff8383;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Balsamiq Sans, sans-serif;
}

body {
    background-color: var(--background-color);
    padding: 20px;
}

header{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

header h1{
    font-size: 32px;
    font-weight: 800;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.search-mode {
    display: flex;
    align-items: center;
    background: var(--background-color);
    padding: 4px;
    border-radius: 12px;
    gap: 4px;
    width: fit-content;
    position: relative; /* Для слайдера */
}

.mode-toggle {
    padding: 8px 16px;
    border: none;
    background: transparent;
    border-radius: 8px;
    font-size: 14px;
    color: var(--secondary-color);
    cursor: pointer;
    transition: all 0.3s ease;
}

.mode-toggle:hover {
    color: #333;
}

.mode-toggle.active {
    color: #1a73e8;
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
}

/* Слайдер */
.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    background-color: rgba(26, 115, 232, 0.1);
    border-radius: 8px;
    transition: left 0.3s ease;
    z-index: 1; /* Чтобы слайдер не закрывал текст */
}

.mode-toggle.active:nth-child(1) ~ .slider {
    left: 0; /* По умолчанию слайдер на первой кнопке */
}

.mode-toggle.active:nth-child(2) ~ .slider {
    left: 50%; /* Слайдер перемещается на вторую кнопку */
}


.city-search,
.coords-search {
    display: none; /* Скрываем по умолчанию */
}

.city-search {
    width: 30em;

    input {
        width: 100%;
        border: 1px solid #ddd;
        border-radius: 8px;
        font-size: 14px;
        outline: none;
        padding-left: 30px; // Увеличиваем отступ слева, чтобы не перекрывать глобус
    }
    i {
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translateY(-50%); // Центрируем по вертикали
    color: var(--secondary-color);
    }
}

.city-search.active,
.coords-search.active {
    display: flex; /* Отображаем только активные элементы */
}

.coords-search.active {
    width: 30em;
    justify-content: space-between;
    gap:10px;/* Отображаем только активные элементы */
}



.search-input {
    flex: 1;
    position: relative;
    input {
        width: 100%;
        padding: 13px 0;
        border: 1px solid #ddd;
        border-radius: 8px;
        font-size: 16px;
        outline: none;
    }
}

.city-search {
    width: 30em;

    input {
        width: 100%;
        border: 1px solid #ddd;
        border-radius: 8px;
        font-size: 16px;
        outline: none;
        padding-left: 35px; // Увеличиваем отступ слева, чтобы не перекрывать глобус
    }
    i {
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translateY(-50%); // Центрируем по вертикали
    color: var(--secondary-color);
    }
}

.coords-input {
    position: relative;
    input {
        width: 14em;
        border: 1px solid #ddd;
        border-radius: 8px;
        font-size: 16px;
        outline: none;
        padding-left: 35px; // Увеличиваем отступ слева, чтобы не перекрывать глобус
    }
    i {
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translateY(-50%); // Центрируем по вертикали
    color: var(--secondary-color);
    }
}



.search-box {
    display: flex;
    gap: 10px;
    button {
        padding: 12px 24px;
        background: var(--primary-color);
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 16px;
    }
    button:hover {
        background: var(--primary-color-hover);
    }
}

.error {
    color: var(--error-color);
    margin-top: 10px;
    display: none;
}

.weather-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.weather-card {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.weather-icon{
    width:50px;
    height: 50px;
    object-fit: cover;
}

.remove-card {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: var(--secondary-color);
    cursor: pointer;
    font-size: 18px;
}

.remove-card:hover {
    color: var(--error-color);
}

.weather-info {
    text-align: center;
    margin-bottom: 20px;
    i {
        font-size: 48px;
        margin-bottom: 10px;
        color: var(--primary-color);
    }
}

.weather-info-main {
    display:flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.temp {
    font-size: 36px;
    font-weight: bold;
    margin: 10px 0;
}

.city {
    font-size: 24px;
    color: var(--secondary-color);
}

.details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.col {
    display: flex;
    align-items: center;
    gap: 10px;
    i {
        font-size: 24px;
        color: var(--primary-color);
    }
    div p:first-child {
        font-weight: bold;
    }
    div p:last-child {
        color: var(--secondary-color);
        font-size: 14px;
    }
}
